# Build output
**/.cache/**
deploy_logs/**

# OS X files
.DS_Store
Thumbs.db

# Editor temp files
*.swp
*.swo

# Ruby artifacts
Gemfile.lock

# Statically generated HTML
public/**
output/**

# Files maintained from the middleman build
archived_docs.basho.com.tar.bz2
static/css/standalone/**
static/js/standalone/**
static/riak/**
static/riakcs/**
static/riakee/**
static/shared/**
static/css/main.css.map

vendor/
.bundle/

