---
# General Hugo Configuration Options
# ==================================
title: "Basho Documentation"
baseURL: "https://docs.basho.com/"
languageCode: "en-us"

# Use YAML for front matter, rather than TOML
metaDataFormat: "yaml"

# Have Hugo generate `id`s for all header elements, without the default sha1
# string appended. This means that anchors will be unique to a page, but _not_
# to the site.
blackfriday:
  plainIDAnchors: true

# Ignore files (such as the reference links list) on build
ignoreFiles: [
    "\\_reference-links.md$",
  ]

# Default directory to build the completed site
publishdir: "public"

params:
  # Project Descriptions
  # ====================
  # The below `project_descriptions` map should contain elements in the form,
  #
  #     <<project_name>>:  // Project name, corresponds to `project:` content frontmater
  #       path: "<<path>>" // Path to the project's version directories
  #       releases:        // List (release series) of lists (versions in that series).
  #         - ["<<version>>", "<<version>>", ...],
  #         - ["<<version>>", "<<version>>", ...],
  #       latest:       "<<version>>" // Current development version
  #       lts:          "<<version>>" // *Optional*: Current LTS version
  #       archived_url: "<<URI>>"     // *Optional*: URL directing to un-maintained content
  project_descriptions:
    riak_kv:
      path: "riak/kv"
      releases:
        - ["2.0.0", "2.0.1", "2.0.2", "2.0.4", "2.0.5", "2.0.6", "2.0.7"]
        - ["2.1.1", "2.1.3", "2.1.4"]
      latest: "2.1.4"
      lts: "2.0.7"
      archived_url: "http://docs.basho.com/riak/1.4.12/"
      archived_path: "riak"
    riak_cs:
      path: "riak/cs"
      releases:
        - ["2.0.0", "2.0.1"]
        - ["2.1.0", "2.1.1"]
      latest: "2.1.1"
      lts: "2.0.1"
      archived_url: "http://docs.basho.com/riakcs/1.5.4/"
      archived_path: "riakcs"
    riak_ts:
      path: "riak/ts"
      latest: "1.4.0"
      releases:
        - ["1.0.0"]
        - ["1.1.0"]
        - ["1.2.0"]
        - ["1.3.0", "1.3.1"]
        - ["1.4.0"]
      archived_path: "riakts"
    dataplatform:
      path: "dataplatform"
      latest: "1.0.0"
      releases:
        - ["1.0.0"]
      archived_path: "dataplatform"
---


#NOTE: Fun for debugging, we can drop this snippet in any partial/layout, and
# get a full listing of objects in the `.` context,
# {{ printf "%#v" . }}



# Below is a (no-longer) complete collection of options and their default values
#NOTE: Settings prepended with '???' may merit additional investigation,
#      because I'm not sure what they do. And I don't like not knowing.
##########
#     title:                      ""
#     baseURL:                    ""            # hostname (and path) to the root eg. http://spf13.com/
#     languageCode:               ""
#     theme:                      ""            # theme to use (located in /themes/THEMENAME/)
# ??? defaultLayout:              "post"
#
#     archetypedir:               "archetype"
#     contentdir:                 "content"
#     dataDir:                    "data"
#     layoutdir:                  "layouts"
#     staticdir:                  "static"
#     publishdir:                 "public"
# ??? destination:                ""            # filesystem path to write files to
# ??? source:                     ""            # filesystem path to read files relative from
#
#     uglyURLs:                   false         # if true, use /filename.html instead of /filename/
# ??? permalinks:
#
# ??? pygmentsStyle:              "monokai"     # color-cwodes for highlighting derived from this style
# ??? pygmentsUseClasses:         false         # true: use pygments-css or false: color-codes directly
#
#
#     buildDrafts:                false         # include content marked as draft
#     buildFuture:                false         # include content with publishdate in the future
#
#     watch:                      false         # watch filesystem for changes and recreate as needed
#     disableLiveReload:          false         #### I'm not sure if these are the same?
#
#     verbose:                    false         # verbose output
#     stepAnalysis:               false         # display memory and timing of different steps of the program
#     logFile:                    ""            # Log File path (if set, logging enabled automatically)
#     verboseLog:                 false         # verbose logging
#     log:                        false         # Enable Logging
#
#
# ??? sitemap:                                  # default sitemap configuration map
#     disableSitemap:             false         # Do not build Sitemap file
#
#     disableRSS:                 false         # Do not build RSS files
#
# ??? config:                     "config.toml" # config file (default is path/config.yaml|json|toml)
# ??? metaDataFormat:             "toml"        # "yaml", "toml", "json"
# ??? defaultExtension:           "html"
#
# ??? footnoteAnchorPrefix:       ""
# ??? footnoteReturnLinkContents: ""
#
# ??? noTimes:                    false         # Don't sync modification time of files
# ??? paginate:                   10
# ??? paginatePath:               "page"
#
# ??? pluralizeListTitles:        true          # Pluralize titles in lists using inflect
#
#
#     editor:                     ""            # edit new content with this editor, if provided
#     newContentEditor:           ""            #### How are these settings different?
#
