#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '*' do
  unless item.binary?
    if %w{md mdown markdown textile erb html rhtml}.include?(item[:extension])
      filter :pygmentize
    end
    case item[:extension]
    when 'md', 'mdown', 'markdown'
      filter :maruku
    when 'textile'
      filter :redcloth
    when 'erb', 'html', 'rhtml'
      filter :erubis
    when 'org'
      filter :orgmode
    when 'sass', 'scss'
      filter :sass, :style => :compressed
    when 'css'
      filter :rainpress
    end
  end
end

# Don't process sidebars
route '*_Sidebar' do
  nil
end

route '*_sidebar' do
  nil
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + '.html'
  end
end

layout '*', :erb
