---
title: Dynamo
project: riak
toc: false
simple: true
dual: true
---

<div id="background"></div>
<div id='container'>
  {{#sources?}}
  <div id="jump_to">
    Jump To &hellip;
    <div id="jump_wrapper">
      <div id="jump_page">
        {{#sources}}
          <a class="source" href="{{ url }}">{{ basename }}</a>
        {{/sources}}
      </div>
    </div>
  </div>
  {{/sources?}}
  <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
    	<!-- {{ title }} -->
      <th class=docs><h2>Riak</h2></th>
      <th class=code><h2>Dynamo</h2></th>
    </tr>
  </thead>
  <tbody>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'>{{{ code }}}</div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>
