---
title: Dynamo
project: riak
toc: false
simple: true
versions: false
dual: true
---

<div id="background"></div>
<div id='container'>
  {{#sources?}}
  <div id="jump_to">
    Jump To &hellip;
    <div id="jump_wrapper">
      <div id="jump_page">
        {{#sources}}
          <a class="source" href="{{ url }}">{{ basename }}</a>
        {{/sources}}
      </div>
    </div>
  </div>
  {{/sources?}}
  <div class="info">
  <div class="title">What is This For?</div>
  <p>
  This is a modified version of <a href="http://www.read.seas.harvard.edu/~kohler/class/cs239-w08/decandia07dynamo.pdf">Amazon's Dynamo Paper</a>, annotated with information about Riak and how its design compares to Dynamo. Basho Technologies built Riak based on many (but not all) of the ideas and design decisions set forth in this paper. We often get questions about how closely we adhered to the principles and design decisions put forth in the paper. I thought it would be worthwhile to annotate it with Riak specifics.
  </p>
  <p>
  The goal for this resource is to simplify the Dynamo paper in the context of Riak and better introduce Riak's design principles to developers and technologists. I hope you enjoy it and find it useful.
  </p>
  <p>
  -- <a href="https://twitter.com/pharkmillups">Mark</a>
  </p>
  </div>
  <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
      <th class=docs><h2>Riak</h2></th>
      <th class=code><h2>Dynamo</h2></th>
    </tr>
  </thead>
  <tbody>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'>{{{ code }}}</div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>
