@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/colors',
  'abstracts/configurations',
  'abstracts/functions',
  'abstracts/highlightjs-solarized',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/bootstrap';

// 3. Base stuff
@import
  'base/fonts',
  'base/typography',
  'base/formatting',
  'base/helpers',
  'base/base';

// 4. Layout-related sections
@import
  'layout/wireframe',
  'layout/banner',
  'layout/content-info',
  'layout/content-nav';

// 5. Components
@import
  'components/search',
  'components/edge-fader',
  'components/content-menu',
  'components/docs-logo.scss',
  'components/front-matter.scss',
  'components/menu-bars.scss',
  'components/code-blocks',
  'components/table-of-contents',
  'components/version-selector';

// 6. Page-specific styles
// @import
//   '';
