@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/colors',
  'abstracts/configurations',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/bootstrap';

// 3. Base stuff
// NB. Order is largely insignificant, but _base.scss should be imported last
@import
  'base/fonts',
  'base/formatting',
  'base/highlightjs-solarized',
  'base/base';

// 4. Layout-related sections
// NB. Order is largely insignificant, but _wirefame.scss must be imported first
@import
  'layout/wireframe',
  'layout/banner',
  'layout/content-navigation',
  'layout/footer';

// 5. Components
@import
  'components/anchor-icon',
  'components/code-blocks',
  'components/content-menu',
  'components/edge-fader',
  'components/front-matter',
  'components/menu-bars',
  'components/search',
  'components/selectors',
  'components/social-button',
  'components/table-of-contents';

// 6. Page-specific styles
@import
  'pages/index',
  'pages/developing/getting-started';
