#downloads div[role="main"] {
  h3 {
    margin-top: 1em;
    padding: .3em;
  }
  p.install_instruction {
    margin-top:4px;
    font-size:80%;
    //padding-left:1em;
    //padding-right:1em;
    text-align:right;
  }
  table {
    width:100%;
    td.arch{
      width:10em;
    }
    td.size {
      width:4em;
    }
    td.checksum {
      width:2em;
      text-align:center;
      a {
        &[href^="http://"], &[href^="https://"] {
          background:none;
          padding-right: 0;
        }
        img {
          max-width: 18px;
          &:hover {
            @include boxShadow(0 0 6px $orange)
          }
        }
      }
    }
  }
}

#download-button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 200px;
  line-height:1;
  
  float: right;
  margin-right: 50px;
  margin-left: 10px;

  a {
    width: 200px;
    display:block;
    white-space : normal;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1),inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);

    background-color: #f99d33;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f99d33 0%, #d97706 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f99d33), color-stop(100%,#d97706)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f99d33 0%,#d97706 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f99d33 0%,#d97706 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #f99d33 0%,#d97706 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f99d33 0%,#d97706 100%); /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99d33', endColorstr='#d97706',GradientType=0 )";
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99d33', endColorstr='#d97706',GradientType=0 );

    color: white;
    font-size: 14px;
    min-width: 100px;
    cursor: pointer;
    padding: 0;
    height: 95px;
    margin-left: 50px;
    text-decoration: none;
    text-align: inherit;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid white;

    &:hover {
      @include boxShadow(0 0 20px $orange);
    }

    .content {
      display: block;
      position: relative;
      color: lighten($orange, 25%);
      margin-left: -50px;
      padding-left: 65px;
      padding-right: 24px;
      background: url(../images/layout/riak-logo-icon.png) 0 0 no-repeat;
      height: 93px;
      padding: 6px 6px 0 106px;

      strong {
        color:white;
        font-size:110%;
        padding-left:2px;
      }

      .title {
        display: block;
        color: white;
        @extend .sans-bold;
        font-size: 52px;
        letter-spacing: -0.02em;
        padding-right: 52px;
        background: url(../images/layout/download.png) no-repeat 100% 4px;
        height: 52px;
        margin-bottom: -2px;
        line-height: 52px;
      }

      .download-info {
        display: block;
        color: #833;
        font-size: 12px;
        text-shadow: 0 1px rgba(255, 255, 255, 0.3);
      }
    }
  }
}