
/* =============================================================================
   Webfonts
   ========================================================================== */
   
@font-face {
    font-family: 'noticia';
    src: url('../fonts/noticiatext-italic-webfont-eot.eot');
    src: url('../fonts/noticiatext-italic-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noticiatext-italic-webfont-woff.woff') format('woff'),
         url('../fonts/noticiatext-italic-webfont-ttf.ttf') format('truetype'),
         url('../fonts/noticiatext-italic-webfont-svg.svg#noticia_textitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'noticia';
    src: url('../fonts/noticiatext-regular-webfont-eot.eot');
    src: url('../fonts/noticiatext-regular-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noticiatext-regular-webfont-woff.woff') format('woff'),
         url('../fonts/noticiatext-regular-webfont-ttf.ttf') format('truetype'),
         url('../fonts/noticiatext-regular-webfont-svg.svg#noticia_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium';
    src: url('../fonts/titilliumtext25l001-webfont-eot.eot');
    src: url('../fonts/titilliumtext25l001-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext25l001-webfont-woff.woff') format('woff'),
         url('../fonts/titilliumtext25l001-webfont-ttf.ttf') format('truetype'),
         url('../fonts/titilliumtext25l001-webfont-svg.svg#titilliumtext25l600_wt') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'titillium';
    src: url('../fonts/titilliumtext25l004-webfont-eot.eot');
    src: url('../fonts/titilliumtext25l004-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext25l004-webfont-woff.woff') format('woff'),
         url('../fonts/titilliumtext25l004-webfont-ttf.ttf') format('truetype'),
         url('../fonts/titilliumtext25l004-webfont-svg.svg#titilliumtext25l1_wt') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =============================================================================
   Custom Font Icon Library
   ========================================================================== */
   
@font-face {
    font-family: 'DocsFontIcons';
    src:url('../fonts/docsfonticons-webfont-eot.eot');
    src:url('../fonts/docsfonticons-webfont-eot.eot?#iefix') format('embedded-opentype'),
        url('../fonts/docsfonticons-webfont-woff.woff') format('woff'),
        url('../fonts/docsfonticons-webfont-ttf.ttf') format('truetype'),
        url('../fonts/docsfonticons-webfont-svg.svg#docsfonticons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* For using data attributes for inserting the navigation icons */
[data-icon]:before {
    font-family: 'DocsFontIcons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Icon Classes */
.icon-lambda,
.icon-beaker,
.icon-cog,
.icon-github-alt,
.icon-comments,
.icon-bolt,
.icon-question-sign,
.icon-tools,
.icon-search,
.icon-download-alt,
.icon-github,
.icon-reorder,
.icon-icon-more {
    font-family: 'DocsFontIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-lambda:before {
    content: "\e003";
}
.icon-beaker:before {
    content: "\f0c3";
}
.icon-cog:before {
    content: "\f013";
}
.icon-github-alt:before {
    content: "\e004";
}
.icon-comments:before {
    content: "\e000";
}
.icon-bolt:before {
    content: "\f0e7";
}
.icon-question-sign:before {
    content: "\f059";
}
.icon-tools:before {
    content: "\e001";
}
.icon-search:before {
    content: "\f002";
}
.icon-download-alt:before {
    content: "\f019";
}
.icon-github:before {
    content: "\e009";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-more:before {
    content: "\e002";
}