body {
  color:black !important;
  * {
    color:black !important;
  }
  div[role="main"] {
    margin:0;
    header.masthead, 
    footer.mastfooter {
      display:none;
    }
    article.mainarticle {
      aside#download-button,
      section.right-sidebar,
      nav.tutorial,
      #nav-toggle,
      ol.versions {
        display:none;
      }
      p, ol, ul, h2, h3, h4, h5, h6, table, blockquote, .CodeRay, .info, .note {
        max-width: 100%;
      }
      .info, .note, .code {
        background:none;
      }
      .code {
        border:1px solid #ccc;
        box-shadow:none;
      }
    }
  }
  aside#nav-container {
    display:none;
  }
}
