// TODO: merge css files
$orange : #f99d33;

#riak-index {
  article > section {
    border:1px solid #F1F1F1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 0.25em 0em 0.35em 0em;
    box-shadow: inset 0 0 20px #A1A1A1;
    padding: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F1F1F1;
    
    header {
      a.command {
        display:block;
        text-decoration:none;
      }
      .more a {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #999;
        margin: 0;
        margin: auto;
        &:hover {
          border-top: 10px solid $orange;
        }
      }
      p {
        margin:0.5em;
        padding-left:1.68em;
        //font-size:90%;
      }
    }

    .content {
      display:none;
      padding-left:1.68em;
      padding-top:0.68em;
      h4 {
        margin-bottom:0.35em;
      }
      ul, li {
        list-style: none;
        margin:0;
        padding:0;
      }
      ul {
        padding-left:1.4em;
        margin-bottom:0.5em;
      }
      section {
        width: 50%;
        float:left;
      }
      .clear {
        clear:both;
      }
    }
    /*
    &#getting-started {
      .content {
        display:block;
      }
    }
    */
    &:hover {
      border:1px solid #F1F1FF;
      box-shadow: inset 0 0 20px $orange;
    }

    &#getting-started {
      .content {
        section {
          width:100%;
        }
        ul li {
          float:left;
          min-width:30%;
          text-align:center;
        }
      }
    }
  }
  hr {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #666;
    margin: 0;
    margin: auto;
  }
}
