/* =============================================================================
   Variables
   ========================================================================== */

$headerColor  : #616366;
$textColor    : #000000;
$linkBlue     : #2984a9;
$orange       : #f99d33;
$lightOrange  : #fcc07f;
$darkOrange   : darken($orange, 15%);
$darkGrey     : #777a7e;
$subtleGray   : #eaeaea;
$lightGreen   : #a7c7bf;
$fadedGreen   : darken(saturate(#6f8a86, 3%), 8%);
$darkGreen    : darken($lightGreen, 10%);
$inactiveText : #AAA;

/* =============================================================================
   Mixins
   ========================================================================== */

@mixin bgPattern($url, $color: transparent) {
  //background : image-url('/images/layout/' + $url) left top repeat $color
  background : inline-image('layout/' + $url) left top repeat $color;
}

@mixin size($width: auto, $height: auto) {
  width  : $width;
  height : $height;
}

@mixin minSize($width: auto, $height: auto) {
  min-width  : $width;
  min-height : $height;
}

@mixin vendor($prop, $args) {
  -webkit-#{$prop} : $args;
  -moz-#{$prop}    : $args;
  #{$prop}         : $args;
}

@mixin boxShadow($args) {
  @include vendor('box-shadow', $args);
}

@mixin allCorners($radius: 5px) {
  @include vendor('border-radius', $radius);
}

@mixin corner($horiz, $vert, $radius: 5px) {
  -webkit-border-#{$vert}-#{$horiz}-radius : $radius;
  -moz-border-radius-#{$vert}#{$horiz}     : $radius;
  border-#{$vert}-#{$horiz}-radius         : $radius;
}

@mixin opaque($dec: 1) {
  opacity : $dec;
  filter  : unquote('alpha(opacity=' + ($dec * 100) + ')');
}

@mixin transition($args) {
  -webkit-transition : $args;
  -moz-transition    : $args;
  -ms-transition     : width 0.5s ease;
}
