/* =============================================================================
   Variables
   ========================================================================== */

/* == Colors ================================= */
$headerColor        : #616366;
$textColor          : #000000;
$linkBlue           : #2984a9;
$subtleBlue         : #c3e3fd;
$lightBlue          : #8cbbe2;
$linkOrange         : #e38c3a;
$orange             : #f99d33;
$lightOrange        : #fcc07f;
$darkOrange         : darken($orange, 15%);
$extraDarkGrey      : #222222;
$darkerGrey         : #4f4f4f;
$darkGrey           : #777a7e;
$grey               : #b2b2b2;
$fieldGrey          : #b0b3b6;
$lightGrey          : #ccced1;
$subtleGray         : #eaeaea;
$lightGreen         : #a7c7bf;
$blueGreen          : #79aeb5;
$darkBlueGreen      : #619ba3;
$lightBlueGreen     : #bcd6da;
$subtleBlueGreen    : #ebf2f3;
$fadedGreen         : darken(saturate(#6f8a86, 3%), 8%);
$darkGreen          : darken($lightGreen, 10%);
$inactiveText       : #AAA;

$versionColor-2-0-x      : #ea7107; 
$lightVersionColor-2-0-x : lighten($versionColor-2-0-x, 5%);
$versionColor-1-4-x      : #f99d33;
$lightVersionColor-1-4-x : lighten($versionColor-1-4-x, 5%);
$versionColor-1-3-x      : #5e8782;
$lightVersionColor-1-3-x : lighten($versionColor-1-3-x, 5%);
$versionColor-1-2-x      : #79aeb6;
$lightVersionColor-1-2-x : lighten($versionColor-1-2-x, 5%);
$versionColor-1-1-x      : #6c8997;
$lightVersionColor-1-1-x : lighten($versionColor-1-1-x, 5%);
$versionColor-1-0-x      : #99afac;
$lightVersionColor-1-0-x : lighten($versionColor-1-0-x, 5%);
$versionColorInactive    : #ddd;

/* == Dimensions ================================= */
$mobilePageGutter : 0.6em;

/* =============================================================================
   Mixins
   ========================================================================== */

@mixin bgPattern($url, $color: transparent) {
  //background : image-url('/images/layout/' + $url) left top repeat $color
  background : inline-image('layout/' + $url) left top repeat $color;
}

@mixin size($width: auto, $height: auto) {
  width  : $width;
  height : $height;
}

@mixin minSize($width: auto, $height: auto) {
  min-width  : $width;
  min-height : $height;
}

@mixin vendor($prop, $args) {
  -webkit-#{$prop} : $args;
  -moz-#{$prop}    : $args;
  #{$prop}         : $args;
}

@mixin boxShadow($args) {
  @include vendor('box-shadow', $args);
}

@mixin allCorners($radius: 5px) {
  @include vendor('border-radius', $radius);
}

@mixin corner($horiz, $vert, $radius: 5px) {
  -webkit-border-#{$vert}-#{$horiz}-radius : $radius;
  -moz-border-radius-#{$vert}#{$horiz}     : $radius;
  border-#{$vert}-#{$horiz}-radius         : $radius;
}

@mixin opaque($dec: 1) {
  opacity : $dec;
  filter  : unquote('alpha(opacity=' + ($dec * 100) + ')');
}

@mixin transition($args) {
  -webkit-transition : $args;
  -moz-transition    : $args;
  -ms-transition     : width 0.5s ease;
}

@mixin transitionAll($args) {
  -webkit-transition : $args;
  -moz-transition    : $args;
  -ms-transition     : all 0.5s ease;
}

@mixin arrowVertical($base, $point,  $size, $color) {
  border           : #{$size} solid transparent;
  border-#{$base}  : #{$size} solid #{$color};
  border-#{$point} : none;
}

@mixin gradient($fallBack, $rgbaTop, $rgbaBottom) {
  background : #{$fallBack}; /* Fallback for non-rgba browsers */
  background : -moz-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* FF3.6+ */
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
  background : -webkit-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* Chrome10+,Safari5.1+ */
  background : -o-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* Opera 11.10+ */
  background : -ms-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* IE10+ */
}
