<!DOCTYPE html>
{{/*TODO(Drew): Find out if we need to do this IE-safety shit anymore. */}}
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]><html class="no-js lt-ie9" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->` | safeHTML }}

<!-- Site-wide and Page-wide Variables
     ---------------------------------
  We pull in "common_variables.html" to define a whole bunch of common variables
  in the `.Scratch` object, and selectively extract the ones we want to use
  below.

{{ partial "common_variables.html" . }}

{{ $project      := .Scratch.Get "project" }}
{{ $version      := .Scratch.Get "version" }}
{{ $project_path := .Scratch.Get "project_path" }}
{{ $is_latest    := .Scratch.Get "is_latest" }}
{{ $is_lts       := .Scratch.Get "is_lts" }}
-->

{{ partial "head.html" . }}

<!--TODO: Figure out if we need the 'latest' and/or 'lts' classes here. -->
<!--TODO: Why is "downloads" an ID here? What? WHY!? -->
<body class="{{$project}} {{$version}} {{if $is_latest}}latest{{end}} {{if $is_lts}}lts{{end}}" id="downloads">

  {{ partial "google_tag_manager.html" . }}

  {{ $menu_title := (printf "%s-%s" .Params.project .Params.project_version) }}
  {{ partial "navigation_sidebar.html" (dict "context" . "menu_title" $menu_title) }}

  <div role="main">

    {{ partial "header.html" . }}

    <article class="mainarticle">

      {{ partial "version-ddown.html" . }}

      <header><h1>{{.Title}}</h1></header>

      {{ if .Params.toc }}
        <nav id="toc">
          <h2 class="title">Contents</h2>
          <div id="toc-wrapper">
            <ol id="toc-items"></ol>
          </div>
        </nav>
      {{ end }}

      <!-- Content from the markdown document -->
      {{ .Content }}

      <!-- Content, dynamically generated based on projects listed in the
           markdown front matter, and information stored in downloads.yaml -->
      {{ range $index, $project_map := $.Params.listed_projects }}
        {{ $target_title   := $project_map.title }}
        {{ $target_version := $project_map.version }}
        {{ $target_project := $project_map.project }}

        {{/*<h2/>*/}}{{ (printf "## %s %s" $target_title $target_version) | markdownify}}
        <p>You should be able to find your operating system in the choices below.</p>

        {{ range $os_map := (sort (where (index (index $.Site.Data.download_info $target_project) $target_version) "os" "!=" "source") "os") }}
          {{ $os_title := (index (index $.Site.Data.os_meta $os_map.os) "title") }}
          {{ $img_src  := (index (index $.Site.Data.os_meta $os_map.os) "image_src") }}

          {{/*<h3/>*/}}{{ (printf "### ![](%s) %s for %s{#%s}" $img_src $target_title $os_title (replace (lower $os_title) " " "-" )) | markdownify }}
          <table><tbody>
            {{ range $version_map := (sort $os_map.versions "version") }}
              <tr class="version_title"><td colspan="3">{{/*<h4/>*/}}{{ printf "#### %s %s" $os_title $version_map.version | markdownify}}</td></tr>
              {{ range $arch_map := (sort $version_map.architectures "arch") }}
                <tr>
                  <td></td>
                  <td class="arch">{{$arch_map.arch}}</td>
                  <td class="link"><a href="{{$arch_map.file_info.file_href}}">{{$arch_map.file_info.file_name}}</a></td>
                  <td class="size">{{(div (div $arch_map.file_info.file_size 1024) 1024)}} MB</td>
                  <td class="chksum"><a href="{{$arch_map.file_info.chksum_href}}">hash</a></td>
                </tr>
              {{ end}}
            {{end}}
          </tbody></table>
          {{ if (and ($project_map.install_instructions_set) (index (index $.Site.Data.os_meta $os_map.os) "installing_instructions_page")) }}
            {{ $installing_page := (index (index $.Site.Data.os_meta $os_map.os) "installing_instructions_page") }}
            {{ $installing_uri  := printf "/%s/%s/%s/%s" $project_path $version $project_map.install_instructions_set $installing_page }}
            <p class="install_instruction">Here are further instructions for <a href="{{$installing_uri}}">installing {{$target_title}} on this system</a>.</p>
          {{ end }}
        {{end}}

        {{ range $source_map := (where (index (index $.Site.Data.download_info $target_project) $target_version) "os" "==" "source") }}
          {{ $img_src  := (index (index $.Site.Data.os_meta "source") "image_src") }}

          {{/*<h3/>*/}}{{ (printf "### ![](%s) Source Download for %s{#source}" $img_src $target_title) | markdownify }}
          <table><tbody>
            <tr>
              <td></td>
              <td class="arch"></td>
              <td class="link"><a href="{{$source_map.file_info.file_href}}">{{$source_map.file_info.file_name}}</a></td>
              <td class="size">{{ (div (div $source_map.file_info.file_size 1024) 1024) }} MB</td>
              <td class="chksum"><a href="{{$source_map.file_info.chksum_href}}">hash</a></td>
            </tr>
          </tbody></table>
          {{ if $project_map.install_instructions_set }}
            {{ $installing_page := (index (index $.Site.Data.os_meta "source") "installing_instructions_page") }}
            {{ $installing_uri  := printf "/%s/%s/%s/%s" $project_path $version $project_map.install_instructions_set $installing_page }}
            <p class="install_instruction">Here are further instructions for <a href="{{$installing_uri}}">installing {{$target_title}} from source</a>.</p>
          {{ end }}
        {{ end }}
        {{if not (eq (len $.Params.listed_projects) (add $index 1))}}<hr>{{end}}
      {{ end }}

      <div class="clear"></div>

    </article>

    {{ partial "footer.html" . }}

  </div>

  {{ partial "scripts.html" . }}

</body>
</html>
