<!DOCTYPE html>
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]><html class="no-js lt-ie9" lang="en"></html><![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->` | safeHTML }}

{{ partial "head.html" . }}

{{/*TODO(Drew): We need to figure out if this `class="latest"`` is required for
                that stupid marketing banner. Maybe just fix the CSS. */}}
<body class="latest">
  {{ partial "google_tag_manager.html" . }}

  {{ partial "navigation_sidebar.html" . }}

  {{/*TODO(Drew): Implement skipping the Table of Contents. */}}
  <div role="main">

  {{ partial "header.html" . }}

    {{/*TODO(Drew): Do we want to extract this to live somewhere else?
                    Also, be aware this is only present in the wide view of the
                    site. */}}
    <div id="ricon-temp-banner-responsive">
      <a class="register" href="http://basho.com/new-basho-data-platform-provides-outstanding-operational-simplicity-for-enterprise-big-data-applications/">Basho Data Platform coming soon.</a>
    </div>

    <article class="mainarticle">
    {{/*TODO(Drew): Correctly implement the version drop-down.
                    Actually... Does anything need to happen for thi? */}}
      <!-- <div class="versions"></div> -->

      {{/*NOTE(Drew): The .slim that generates this header is...
                          - unless !data.page.title || data.page.simple
                          header
                            - title = data.page.title
                            - if title =~ /Multi.Data.Center.Replication.?\:?(.*)/
                              - title = "<div class=small>Multi-Datacenter Replication:</div> #{$1}"
                            h1== title

                      It looks like we need to munge the title and add that
                      `class="small"` div if we're on an MDC page. */}}
      {{/*TODO(Drew): Fix this. All of this. Fix all of the above. */}}
      <header><h1>{{ .Title }}</h1></header>

      {{/*TODO(Drew): Find out what the below does, and re-implement it here...
                          - if data.page.header == 'riakee'
                            .enterprise
                              == I18n.t(:"riak_ee.info.body")
                            = "\n"
      */}}

      {{ if .Params.toc }}
        <nav id="toc">
          <h2 class="title">Contents</h2>
          <div id="toc-wrapper">
            <ol id="toc-items"></ol>
          </div>
        </nav>
      {{ end }}

      {{/*NOTE(Drew): At this point, if this were a downloads page, we'd be
                      rendering...
                          - if data.page.download.present?
                            aside#download-button
                              a href="/downloads/##{data.page.download['key']}"
                                span.content
                                  span.title riak
                                  span.subtitle Download #{current_version('riak')} for #{data.page.download['name']}
                            = "\n"
      */}}


      {{ .Content }}


      <div class="clear"></div>

      <section class="right-sidebar">
        <aside class="secondary" role="complementary">
          {{/*TODO(Drew): Do we want to implement the suggestions? */}}
          {{/*
          <nav class="suggestions">
            <h4>These May Also Interest You</h4>
            <div class="columns">
            </div>
          </nav>
          */}}

          {{/*TODO(Drew): Figure how to/if we should drop keywords in here. */}}
        </aside>
      </section>
    </article>

    {{/*TODO(Drew): Figure out if we want watermarks. */}}
    <!-- <div class="watermark-wrapper" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
      <div class="version-icon-watermark">&#xe60e</div>
      <meta content="1.0.0" itemprop="version" />
    </div> -->

    {{ partial "footer.html" . }}

  </div>
</body>
</html>
