/* Code Palette for hightlight.js */
.basho-comment,
pre .hljs-comment,
pre .hljs-title {
  color: #8e908c;
}

.basho-orange,
pre .hljs-variable,
pre .hljs-attribute,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: #ed9a4a;
}

.basho-red-orange,
pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-pragma,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #ea7107;
}

.basho-aqua,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: #71a7af;
}

.basho-light-orange,
pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: #f2b156;
}

.basho-dark-blue,
pre .hljs-css .hljs-hexcolor {
  color: #3b4a5d;
}

.basho-dark-green,
pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: #5a7471;
}

.basho-blue-grey,
pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: #6c8997;
}

pre code {
  display: block;
  background: #f8f8f8;
  color: #4d4d4c;
  padding: 0.5em;
}

pre .hljs-coffeescript .hljs-javascript,
pre .hljs-javascript .hljs-xml,
pre .hljs-tex .hljs-formula,
pre .hljs-xml .hljs-javascript,
pre .hljs-xml .hljs-vbscript,
pre .hljs-xml .hljs-css,
pre .hljs-xml .hljs-cdata {
  opacity: 0.5;
}
