/* Basho color palette for Highlight.js
 * Color variables pulled from common.scss
 *
 * http://highlightjs.org/
 * http://highlightjs.readthedocs.org/en/latest/style-guide.html */


/* For ease of comparison, this switch will let us quicky jump between the older
 * color palette used in the Middleman builds, and the newer palette that uses
 * colors defined in common.scss */
$use-new-colors : true;

@if $use-new-colors == true {

  pre code {
    display: block;
    background: #f8f8f8; // Darker than subtleGray
    color: $darkerGrey;
    padding: 0.5em;
  }

  pre .hljs-coffeescript .hljs-javascript,
  pre .hljs-javascript .hljs-xml,
  pre .hljs-tex .hljs-formula,
  pre .hljs-xml .hljs-javascript,
  pre .hljs-xml .hljs-vbscript,
  pre .hljs-xml .hljs-css,
  pre .hljs-xml .hljs-cdata {
    opacity: 0.5;
  }

  pre .hljs-comment,
  pre .hljs-title {
    color: $darkGrey;
  }

  pre .hljs-variable,
  pre .hljs-attribute,
  pre .hljs-tag,
  pre .hljs-regexp,
  pre .hljs-ruby .hljs-constant,
  pre .hljs-xml .hljs-tag .hljs-title,
  pre .hljs-xml .hljs-pi,
  pre .hljs-xml .hljs-doctype,
  pre .hljs-html .hljs-doctype,
  pre .hljs-css .hljs-id,
  pre .hljs-css .hljs-class,
  pre .hljs-css .hljs-pseudo {
    color: $orange;
  }

  pre .hljs-number,
  pre .hljs-preprocessor,
  pre .hljs-pragma,
  pre .hljs-built_in,
  pre .hljs-literal,
  pre .hljs-params,
  pre .hljs-constant {
    color: $darkOrange;
  }

  pre .hljs-ruby .hljs-class .hljs-title,
  pre .hljs-css .hljs-rules .hljs-attribute {
    color: $blueGreen
  }

  pre .hljs-string,
  pre .hljs-value,
  pre .hljs-inheritance,
  pre .hljs-header,
  pre .hljs-ruby .hljs-symbol,
  pre .hljs-xml .hljs-cdata {
    color: $lightOrange;
  }

  pre .hljs-css .hljs-hexcolor {
    color: $extraDarkGrey;
  }

  pre .hljs-function,
  pre .hljs-python .hljs-decorator,
  pre .hljs-python .hljs-title,
  pre .hljs-ruby .hljs-function .hljs-title,
  pre .hljs-ruby .hljs-title .hljs-keyword,
  pre .hljs-perl .hljs-sub,
  pre .hljs-javascript .hljs-title,
  pre .hljs-coffeescript .hljs-title {
    color: $fadedGreen;
  }

  pre .hljs-keyword,
  pre .hljs-javascript .hljs-function {
    color: $lightOrange;
  }

} @else {
  /* Below is the set of colors used in the middleman build. Once we've lived
   * with the homogenized colors for a while -- and potentially made tweaks --
   * these should probaby go away (along with the in-line references). */
  $mm-light-gray   : #8e908c;
  $mm-dark-gray    : #4d4d4c;
  $mm-blue-gray    : #6c8997;
  $mm-light-orange : #f2b156;
  $mm-orange       : #ed9a4a;
  $mm-red-orange   : #ea7107;
  $mm-blue-green   : #71a7af;
  $mm-dark-blue    : #3b4a5d;
  $mm-dark-green   : #5a7471;

  pre code {
    display: block;
    background: #f8f8f8; // Darker than subtleGray
    color: $mm-dark-gray;
    padding: 0.5em;
  }

  pre .hljs-coffeescript .hljs-javascript,
  pre .hljs-javascript .hljs-xml,
  pre .hljs-tex .hljs-formula,
  pre .hljs-xml .hljs-javascript,
  pre .hljs-xml .hljs-vbscript,
  pre .hljs-xml .hljs-css,
  pre .hljs-xml .hljs-cdata {
    opacity: 0.5;
  }

  pre .hljs-comment,
  pre .hljs-title {
    color: $mm-light-gray;
  }

  pre .hljs-variable,
  pre .hljs-attribute,
  pre .hljs-tag,
  pre .hljs-regexp,
  pre .hljs-ruby .hljs-constant,
  pre .hljs-xml .hljs-tag .hljs-title,
  pre .hljs-xml .hljs-pi,
  pre .hljs-xml .hljs-doctype,
  pre .hljs-html .hljs-doctype,
  pre .hljs-css .hljs-id,
  pre .hljs-css .hljs-class,
  pre .hljs-css .hljs-pseudo {
    color: $mm-orange;
  }

  pre .hljs-number,
  pre .hljs-preprocessor,
  pre .hljs-pragma,
  pre .hljs-built_in,
  pre .hljs-literal,
  pre .hljs-params,
  pre .hljs-constant {
    color: $mm-red-orange;
  }

  pre .hljs-ruby .hljs-class .hljs-title,
  pre .hljs-css .hljs-rules .hljs-attribute {
    color: $mm-blue-green
  }

  pre .hljs-string,
  pre .hljs-value,
  pre .hljs-inheritance,
  pre .hljs-header,
  pre .hljs-ruby .hljs-symbol,
  pre .hljs-xml .hljs-cdata {
    color: $mm-light-orange;
  }

  pre .hljs-css .hljs-hexcolor {
    color: $mm-dark-blue;
  }

  pre .hljs-function,
  pre .hljs-python .hljs-decorator,
  pre .hljs-python .hljs-title,
  pre .hljs-ruby .hljs-function .hljs-title,
  pre .hljs-ruby .hljs-title .hljs-keyword,
  pre .hljs-perl .hljs-sub,
  pre .hljs-javascript .hljs-title,
  pre .hljs-coffeescript .hljs-title {
    color: $mm-dark-green;
  }

  pre .hljs-keyword,
  pre .hljs-javascript .hljs-function {
    color: $mm-blue-gray;
  }
}
