/* =============================================================================
   Variables
   ========================================================================== */

/* == Colors ================================= */
$headerColor     : #616366;
$textColor       : #000000;
$linkBlue        : #2984a9;
$subtleBlue      : #c3e3fd;
$lightBlue       : #8cbbe2;
$linkOrange      : #e38c3a;
$orange          : #f99d33;
$lightOrange     : #fcc07f;
$darkOrange      : #d97706;
$extraDarkGrey   : #222222;
$darkerGrey      : #4f4f4f;
$darkGrey        : #777a7e;
$grey            : #b2b2b2;
$fieldGrey       : #b0b3b6;
$lightGrey       : #ccced1;
$subtleGrey      : #eaeaea;
$lightGreen      : #a7c7bf;
$blueGreen       : #79aeb5;
$darkBlueGreen   : #619ba3;
$lightBlueGreen  : #bcd6da;
$subtleBlueGreen : #ebf2f3;
$fadedGreen      : #5a7772;
$darkGreen       : #88b3a8;
$inactiveText    : #AAA;
$white           : #fff;

$versionColor-2-0-x      : #ea7107;
$lightVersionColor-2-0-x : lighten($versionColor-2-0-x, 5%);
$versionColor-1-4-x      : #f99d33;
$lightVersionColor-1-4-x : lighten($versionColor-1-4-x, 5%);
$versionColor-1-3-x      : #5e8782;
$lightVersionColor-1-3-x : lighten($versionColor-1-3-x, 5%);
$versionColor-1-2-x      : #79aeb6;
$lightVersionColor-1-2-x : lighten($versionColor-1-2-x, 5%);
$versionColor-1-1-x      : #6c8997;
$lightVersionColor-1-1-x : lighten($versionColor-1-1-x, 5%);
$versionColor-1-0-x      : #99afac;
$lightVersionColor-1-0-x : lighten($versionColor-1-0-x, 5%);
$versionColorInactive    : #ddd;

/* == Dimensions ================================= */
$mobilePageGutter : 0.6em;

/* =============================================================================
   Convenience Classes -- Layout
   ========================================================================== */

.block {
  display : block;
}

.inline-block {
  display : inline-block;
}

.float-left {
  float : left;
}

.float-right {
  float : right;
}

.clear {
  clear : both;
}

.clear-left {
  clear : left;
}

.clear-right {
  clear : right;
}

.overflow,
.clearfix {
  overflow : auto;
}

.overflow-hidden {
  overflow : hidden;
}

/* =============================================================================
   Mixins
   ========================================================================== */

@mixin bgPattern($url, $color: transparent) {
  background : inline-image('layout/' + $url) left top repeat $color;
}

@mixin size($width: auto, $height: auto) {
  width  : $width;
  height : $height;
}

@mixin minSize($width: auto, $height: auto) {
  min-width  : $width;
  min-height : $height;
}

@mixin vendor($prop, $args) {
  -webkit-#{$prop} : $args;
  -moz-#{$prop}    : $args;
  #{$prop}         : $args;
}

@mixin boxShadow($args) {
  @include vendor('box-shadow', $args);
}

@mixin allCorners($radius: 5px) {
  @include vendor('border-radius', $radius);
}

@mixin corner($horiz, $vert, $radius: 5px) {
  -webkit-border-#{$vert}-#{$horiz}-radius : $radius;
  -moz-border-radius-#{$vert}#{$horiz}     : $radius;
  border-#{$vert}-#{$horiz}-radius         : $radius;
}

@mixin opaque($dec: 1) {
  opacity : $dec;
  filter  : unquote('alpha(opacity=' + ($dec * 100) + ')');
}

@mixin transition($args) {
  -webkit-transition : $args;
  -moz-transition    : $args;
  -ms-transition     : width 0.5s ease;
}

@mixin transitionAll($args) {
  -webkit-transition : $args;
  -moz-transition    : $args;
  -ms-transition     : all 0.5s ease;
}

@mixin arrowVertical($base, $point,  $size, $color) {
  border           : #{$size} solid transparent;
  border-#{$base}  : #{$size} solid #{$color};
  border-#{$point} : none;
}

@mixin gradient($fallBack, $rgbaTop, $rgbaBottom) {
  background : #{$fallBack}; /* Fallback for non-rgba browsers */
  background : -moz-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* FF3.6+ */
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
  background : -webkit-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* Chrome10+,Safari5.1+ */
  background : -o-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* Opera 11.10+ */
  background : -ms-linear-gradient(top, #{$rgbaTop} 0%, #{$rgbaBottom} 100%); /* IE10+ */
}


/* =============================================================================
   Convenience Classes -- Generic
   ========================================================================== */

.center-text {
  text-align : center;
}

.green-link {
  display         : block;
  color           : darken(saturate($fadedGreen, 25%), 18%);
  padding         : 2px 0 0 0;
  text-decoration : none;
  text-align      : center;
  width           : 4.2em;
}

.horizontal-rule {
  border-bottom : 1px solid $subtleGrey;
}

.box-green {
  @include allCorners();
  background : $subtleBlueGreen;
  border     : 1px solid $lightBlueGreen;
}

.box-blue {
  @include allCorners();
  background  : $subtleBlue;
  border      : 1px solid $lightBlue;
}

.button-light-green {
  @extend .sans-bold;
  padding    : 3px 8px;
  background : $subtleBlueGreen;
  text-align : center;
  cursor     : pointer;
  color      : $darkBlueGreen;
  font-size  : 0.75rem;
  border     : 1px solid $lightBlueGreen;
  @include allCorners();
  //@include transitionAll(all 0.5s ease);

  &:hover {
    background : lighten($subtleBlueGreen, 2%);
  }
}
