/* Navigation Sidebar Container
   ----------------------------
   Styling for all things contained in the Navigation Sidebar.

   Note: The sizing of the container itself is still set in the Wireframe
   section of core.scss. There may still be some size-related styling that
   should be moved between these two files.
*/

//TODO: This color was constructed to match the previous (hardcoded) value of
//      the icon font nav-icons. We should either come up with a better color
//      or add this to common.scss and use it elsewhere.
$fadedGray : saturate(lighten($darkGrey, 10), 5);

aside#nav-container {
  @extend .sans;
  @include boxShadow(none);
  background : $subtleGray;

  -o-user-select      : none;
  -ms-user-select     : none;
  -moz-user-select    : none;
  -webkit-user-select : none;
  user-select         : none;

  a {
    @include transitionAll(color 0.5s ease);
    color           : $darkGrey;
    text-decoration : none;

    &:hover {
      color : $extraDarkGrey;
    }
  }

  ul {
    @include bgPattern('nav-bg.jpg', #4f4f50);
    @include transitionAll(color 0.5s ease);
  }

  li {
    position : relative;
  }

  div.menu-title { padding : 8px 0    8px 0; }
  a.menu-title   { padding : 8px 11px 8px 0; }

  .menu-title .toggle-border { border-right: 1px solid #ccced1; }

  .depth-0 {
    @extend .sans-bold;

    & > li {
      border-bottom : 1px solid $lightGrey;
    }
  }
  .depth-1 {
    @extend .sans;
  }

  .depth-1 a { padding-left : 18px; }
  .depth-2 a { padding-left : 26px; }
  .depth-3 a { padding-left : 34px; }
  .depth-4 a { padding-left : 42px; }
  .depth-5 a { padding-left : 50px; }


  /* Selected Item Variation
   * ----------------------- */
  .current > a {
    background : $blueGreen;
    color : $subtleGray;
  }
  .current > div {
    background : $blueGreen;

    a,
    .separator,
    .nav-icon {
      color : $subtleGray;
    }
    .menu-toggle {
      border-top-color    : $subtleGray;
      /* selector specificity bump */
      &.open { border-bottom-color : $subtleGray; }
    }
  }

  /* Font Icon Container
   * ------------------- */
  .icon-container {
    width       : 1.5em;
    margin-left : 0.9em;
    text-align  : center;

    .nav-icon {
      color : $fadedGray;
    }
  }

  /* Vertical Separator
   * ------------------ */
  .separator {
    @extend .sans; // To reduce weight.

    width         : 1em;
    padding-right : 0.5em;
    color         : $fadedGray;
    text-align    : center;
    font-size     : 0.9rem;

    &::after {
      content: "|";
    }
  }

  /* Search Box
   * ---------- */
  .nav-field-container {
    position   : relative;

    input[type="search"] {
      position         : relative;
      width            : 76%;
      background-color : $fieldGrey;
      padding          : 10px 0 10px 24%;
      margin           : 0;
      border           : none;
      color            : $white;
      line-height      : 1.3rem;
      @extend .sans;

      &::-webkit-input-placeholder { color : $white; } /* WebKit browsers */
      &:-moz-placeholder           { color : $white; } /* Mozilla Firefox 4 to 18 */
      &::-moz-placeholder          { color : $white; } /* Mozilla Firefox 19+ */
      &:-ms-input-placeholder      { color : $white; } /* Internet Explorer 10+ */

      &:focus {
        background-color : $darkGrey;
      }
    }

    #icon-container-search {
      position : absolute;
      top      : 9px;
      left     : 0;
      width    : 4em;
      z-index  : 800;

      .nav-icon,
      .separator {
        color    : $white;
      }
    }
  }

  /* Menu Toggle Element
   * ------------------- */
  span.menu-toggle-buffer {
    width: 43px;
    cursor: auto;
  }

  span.menu-toggle {
    @include size(1px, 0);
    position      : absolute;
    top           : 17px;
    right         : 16px;
    content       : '';
    @include arrowVertical(top, bottom, 5px, $grey);
    @include transitionAll(border-color 0.5s ease);

    &.open {
      @include arrowVertical(bottom, top, 5px, $grey);
    }
  }

  /* Fixed Navigation Elements
   * ------------------------- */
  #fixed-nav {
    display : block;
    @include size(100%, 74px);
    @extend .clear;
    position        : relative;
    height          : 82px;
    margin          : -83px 0 0 0; // Top margin should be -(height + 1)
    padding         : 0;
    list-style-type : none;
    border-top      : 1px solid #666; //$darkBlueGreen;

    li {
      margin  : 0;
      padding : 0;
      //height  : 30px;

      a {
        @extend .sans-bold;
        display       : block;
        background    : $darkGrey; //$blueGreen;
        color         : $white;
        height        : 32px;
        border-bottom : 1px solid #666; //$darkBlueGreen;
        padding       :  8px 0 0 0;
        font-size     : 0.9rem;

        &:hover {
          background : darken($darkGrey, 2%);
        }

        span {
          padding-right : 5px;
        }

        .separator,
        .nav-icon {
          color : $white;
        }
      }
    }
  }


  /* "Responsive" Reduced-Width Elements and Variations
   * -------------------------------------------------- */
  .responsive-link {
    display   : none;
    @media screen and (max-width: 768px) {
      display : block;
    }

    &.visit-basho {
      background     : $orange;
      margin-top     : 13px;
      padding        : 5px 0 5px 0;

      .separator,
      .nav-icon,
      a {
        color : $white;
      }
    }

    /* Navigation Toggle Element, present when side nav is open */
    .responsive-toggle {
      @include transitionAll(color 0.5s ease);
      margin : 10px 10px 0 0;
    }
  }

  a {
    @media screen and (max-width: 500px) {
       padding : 7px $mobilePageGutter;
    }
  }

  .depth-0 {
    @media screen and (max-width: 768px) {
      font-size : 115%;
    }
  }

  .icon-container {
    @media screen and (max-width: 768px) {
      font-size : 1em;
      width : 1.75em;
      margin-left : $mobilePageGutter;
    }
  }

  .nav-field-container {
    @media screen and (max-width: 768px) {
      float       : left;
      width       : 71%;
      margin-top  : -5px;
      margin-left : $mobilePageGutter;

      .icon-container {
        margin-left : 0.3em;
      }
    }

    input[type="search"] {
      @media screen and (max-width: 768px) {
        font-size : 1rem;
        padding   : 10px 0 10px 3.2em; /* Using rems here for padding-left to align input text on mobile devices */
        @include allCorners(); /* Add rounded corners to the field when device is tablet or mobile */
      }
    }
  }
}
