/**
 * Version Selector Badge; Container for Clickable Badge and Drop-Down.
 */
.version-selector {
  position    : fixed;
  top         : 108px;
  margin-left : -72px;
  width       : 50px;
  height      : 100%;

  body.latest & {
    top       : 154px;
  }
}

@media screen and (max-width: 700px) {
  .versions-selector {
    display : none;
  }
}



/**
 * Version Selector Badge; Title
 * 1. Poor-man's kerning. The `V` of VERSIONS looked like it was extending too
 *    far past the edge of the button. That's not actually the case and I know
 *    that intellectually, but it looks better now.
 */
.version-selector__title {
  font-family    : "OpenSans", sans-serif;
  font-size      : 0.54rem;
  letter-spacing : 1px;
  text-transform : uppercase;
  text-align     : center;
  //WARNING TEMPORARY: This is to force an override until we can clean up the
  //                   CSS that's being overridden. THIS SHOULD NOT STAY.
  margin-bottom  : 0 !important;

  padding-left   : 1px; /* 1 */
}

/**
 * Version Selector Badge; Button Element
 */
.version-selector__btn {
  display       : block;
  width         : 100%;
  position      : relative;
  padding       : 3px 0;
  margin-bottom : 3px;
  background    : $versionColor-1-4-x;
  text-align    : center;
  cursor        : pointer;
  color         : white;
  font-size     : 0.75rem;
  font-family   : 'OpenSansBold', verdana, sans-serif;
  border        : 1px solid white;
  @include allCorners();
  @include transitionAll(all 0.5s ease);
  overflow:hidden;

  &:focus {
    outline: none;
  }
}

/**
 * Version Selector Badge; Downward Arrow
 * An example of the arrowVertical mixin; downward-facing orange arrow used to
 * indicate a drop-down menu.
 */
.version-selector__arrow {
  position : relative;
  width : 0;
  margin : 0 auto 3px auto;
  @include arrowVertical(top, bottom, 6px, $orange);
}



/**
 * Version Selector Drop-Down Menu; Block-Level List
 */
.version-selector__list {
  list-style       : none;
  list-style-image : none;
  margin           : 0;
  padding          : 0;
  font-family      : 'OpenSans', verdana, sans-serif;
}

/**
 * Version Selector Drop-Down Menu; List Elements
 * 1. Not actually a desired style. This will (hopefully) motivate us to clean
 *    up any background styles that aren't overridden in the below Per-Version
 *    Background Colors section.
 * 2. We want the anchor to take up the entire space its parent element will
 *    provide, and this is one way of getting that to happen.
 * 3. This padding would normally live on the element rather than the child
 *    anchor, but if it's set on the element the anchor's height won't include
 *    it. So we set the padding on the anchor.
 */
.version-selector__list-element {
  background      : rgba(255,0,0,0.7); /* 1 */
  display         : block;
  border-top      : 1px solid white;
  margin          : 0 1px;
  font-size       : 0.75rem;
  text-align      : center;
  color           : white;
  //WARNING TEMPORARY: This is to force an override until we can clean up the
  //                   CSS that's being overridden. THIS SHOULD NOT STAY.
  line-height     : 1.2 !important;

  a {
    //WARNING TEMPORARY: This is to force an override until we can clean up the
    //                   CSS that's being overridden. THIS SHOULD NOT STAY.
    color: white !important;
    cursor: pointer;
    display: block;  /* 2 */
    height : 100%;   /* 2 */
    width  : 100%;   /* 2 */
    padding: 5px 0; /* 3 */
  }
}

/**
 * Version Selector Drop-Down Menu; Per-Section Topmost Element
 */
.version-selector__list-element--top {
  @include corner(left, top);
  @include corner(right, top);
}

/**
 * Version Selector Drop-Down Menu; Per-Section Bottommost Element
 */
.version-selector__list-element--bottom {
  @include corner(left, bottom);
  @include corner(right, bottom);
  margin-bottom: 4px;
}

/**
 * Version Selector Drop-Down Menu; LTS tag modifier
 * Heightens the given element, and adds the "LTS" text above it.
 * 1. "\A" adds whitespace that _may be_ treated as a newline.
 * 2. `pre` forces this text to act like a <pre>, and respect '\A' newlines.
 * 3. I hate the kerning of this font all of a sudden... The periods and letter-
 *    spacing are the best I can do to make it not look off.
 * 4. FIXME: The LTS text is not included as part of the anchor, so it's not
 *           selectable. We should play with this and see about getting it to
 *           work as expected (Or just move the LTS text into the Hugo template)
 */
.version-selector__list-element--lts {
  padding-top: 2px;

  &::before {
    content: "L.T.S\A"; /* 1, 3, 4 */
    white-space: pre; /* 2 */
    letter-spacing: 1px; /* 3 */
    font-size: 10px;
    font-family   : 'OpenSansBold', verdana, sans-serif;
    // text-transform : uppercase;
  }
}



/**
 * Version Selector Drop-Down Menu; Per-Version Background Colors
 */
.version-selector__list-element--1 {
  background: $version-color-1;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-1-light;
  }
}

.version-selector__list-element--2 {
  background: $version-color-2;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-2-light;
  }
}

.version-selector__list-element--3 {
  background: $version-color-3;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-3-light;
  }
}

.version-selector__list-element--4 {
  background: $version-color-4;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-4-light;
  }
}

.version-selector__list-element--5 {
  background: $version-color-5;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-5-light;
  }
}

.version-selector__list-element--6 {
  background: $version-color-6;
  &:hover,
  &.version-selector__list-element--current {
    background: $version-color-6-light;
  }
}

/* Cheating a bit here by bumping the specificity of this rule to ensure the
 * inactive color trumps other specifiers.
 *TODO: Figure out if the specificity bump is necessary. We may be able to
 *      generate the list s.t. elements are either `--[1-6]` or `--disabled`.
 */
.version-selector__list .version-selector__list-element--disabled {
  background: $version-color-inactive;
}
