$versions = <%= YAML::load(File.open('data/versions.yml')).to_json %>

$ ->
  # construct an object that represents a
  # drop-down version list
  buildLists = (project, base_url, moved_ranges_obj)->
    lists = []
    for vs in ($versions[project] || [])
      firstInBlock = true
      for vsi in vs
        vsp = parseVersion(vsi)
        if inVersionRange(vsp, range)
          current = window.compareVersions(currentVersion, vsp) == 0
          vData = {active:true, firstInBlock:firstInBlock, current:current, href:"/#{project}/#{vsi}#{base_url}", text:vsi}

          for vr_link in moved_ranges_obj
            if inVersionRange(vsp, vr_link[0])
              vData.href = "/#{project}/#{vsi}#{vr_link[1]}"

          lists.unshift(vData)
        else
          lists.unshift({active:false, firstInBlock:firstInBlock, current:false, href:"#", text:vsi})
        firstInBlock = false
    lists


  return if $('.mainarticle .versions').length == 0

  project = $('meta[name=project]').attr('content')
  base_url = $('meta[name=base-url]').attr('content')
  version = $('meta[name=version]').attr('content')
  version_range = $('meta[name=version-range]').attr('content')
  moved_ranges = $('meta[name=moved-ranges]').attr('content')

  return unless project? || base_url? || version? || version_range?
  return if $versions[project]?.length <= 1

  currentVersion = window.parseVersion(version)
  range = window.parseVersionRange(version_range)

  moved_ranges_obj = []
  for r,link of $.parseJSON(moved_ranges)
    moved_ranges_obj.push [parseVersionRange(r), link]

  lists = buildLists(project, base_url, moved_ranges_obj)

  blockCount = 0
  firstInBlock = (li)->
    if li.firstInBlock
      blockCount++
      " first "
    else
      " "

  currentClass = (li)->
    classStr = ""
    unless li.active
      classStr = "inactive"
    else if li.current
        classStr = "current"
    " class=\"#{classStr}#{firstInBlock(li)}versions-#{blockCount}\""

  liLink = (li)->
    "<a class=\"versioned\" href=\"#{li.href}\">#{li.text}</a>"

  output = ""
  output += "<div id=\"version-ddown\">"
  output += "#{version}"
  output += "<div id=\"version-ddown-arrow\"></div>"
  output += "</div>"
  output += "<ol id=\"version-list\">"
  for vmli in lists
    output += "<li#{currentClass(vmli)}>"
    output += liLink(vmli)
    output += "</li>"


  $('.mainarticle .versions').html(output)

