/**
 * Fonts and Icon Fonts
 * ====================
 * We're going to use style linking for font-faces, as per
 * https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/#style-linking
 * It may eventually be necessary to switch to using unique family names as per
 * https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/#unique-font-family-names-matching-weights-and-styles
 */


/**
 * Convenience Classes
 * -------------------
 * These should probably be `@include`d in other classes, rather than used
 * directly.
 * These extend the below Font Styles.
 */

.sans {
  @extend .OpenSans;
}

.serif {
  @extend .GandhiSerif;
}



/**
 * Font Styles
 * -----------
 * Defined by `@font-face` declarations below.
 *TODO: Come up with some decent serif fallbacks.
 */

.GandhiSerif {
  font-family: "GandhiSerif", serif;
  font-weight: 400;
  font-style:  normal;
}
.GandhiSerif-Bold {
  font-family: "GandhiSerif", serif;
  font-weight: 700;
  font-style:  normal;
}
.GandhiSerif-Italic {
  font-family: "GandhiSerif", serif;
  font-weight: 400;
  font-style:  italic;
}
.GandhiSerif-BoldItalic {
  font-family: "GandhiSerif", serif;
  font-weight: 700;
  font-style:  italic;
}


.Titillium {
  font-family: "Titillium", serif;
  font-weight: 250;
  font-style:  normal;
}
.Titillium-Bold {
  font-family: "Titillium", serif;
  font-weight: 800;
  font-style:  normal;
}


.OpenSans {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-weight: 400;
  font-style:  normal;
}
.OpenSans-Light {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-weight: 300;
  font-style:  normal;
}
.OpenSans-Bold {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-weight: 700;
  font-style:  normal;
}
.OpenSans-Italic {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-weight: 400;
  font-style:  italic;
}
.OpenSans-BoldItalic {
  font-family: "OpenSans", verdana, arial, sans-serif;
  font-weight: 700;
  font-style:  italic;
}


/**
 * Font-Face Declarations
 * ----------------------
 *TODO: We can probably make a mixin out of these and clean up the declarations.
 */

/** Gandhi Serif */
@font-face {
  font-family: "GandhiSerif";
  font-weight: 400;
  font-style:  normal;
  src: url("../fonts/gandhi-serif-regular-webfont-eot.eot");
  src: url("../fonts/gandhi-serif-regular-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gandhi-serif-regular-webfont-ttf.ttf") format("truetype"),
       url("../fonts/gandhi-serif-regular-webfont-woff.woff") format("woff"),
       url("../fonts/gandhi-serif-regular-webfont-svg.svg#GandhiSerifRegular") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "GandhiSerif";
  font-weight: 700;
  font-style:  normal;
  src: url("../fonts/gandhi-serif-bold-webfont-eot.eot");
  src: url("../fonts/gandhi-serif-bold-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gandhi-serif-bold-webfont-ttf.ttf") format("truetype"),
       url("../fonts/gandhi-serif-bold-webfont-woff.woff") format("woff"),
       url("../fonts/gandhi-serif-bold-webfont-svg.svg#GandhiSerifBold") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "GandhiSerif";
  font-weight: 400;
  font-style:  italic;
  src: url("../fonts/gandhi-serif-italic-webfont-eot.eot");
  src: url("../fonts/gandhi-serif-italic-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gandhi-serif-italic-webfont-ttf.ttf") format("truetype"),
       url("../fonts/gandhi-serif-italic-webfont-woff.woff") format("woff"),
       url("../fonts/gandhi-serif-italic-webfont-svg.svg#GandhiSerifItalic") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "GandhiSerif";
  font-weight: 700;
  font-style:  italic;
  src: url("../fonts/gandhi-serif-bolditalic-webfont-eot.eot");
  src: url("../fonts/gandhi-serif-bolditalic-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gandhi-serif-bolditalic-webfont-ttf.ttf") format("truetype"),
       url("../fonts/gandhi-serif-bolditalic-webfont-woff.woff") format("woff"),
       url("../fonts/gandhi-serif-bolditalic-webfont-svg.svg#GandhiSerifBoldItalic") format("svg");
  text-rendering: optimizeLegibility;
}


/** Titillium Text */
@font-face {
  font-family: "Titillium";
  font-weight: 250;
  font-style:  normal;
  src: url("../fonts/titilliumtext25l004-webfont-eot.eot");
  src: url("../fonts/titilliumtext25l004-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/titilliumtext25l004-webfont-ttf.ttf") format("truetype"),
       url("../fonts/titilliumtext25l004-webfont-woff.woff") format("woff"),
       url("../fonts/titilliumtext25l004-webfont-svg.svg#Titillium") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Titillium";
  font-weight: 800;
  font-style:  normal;
  src: url("../fonts/titilliumtext25l001-webfont-eot.eot");
  src: url("../fonts/titilliumtext25l001-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/titilliumtext25l001-webfont-ttf.ttf") format("truetype"),
       url("../fonts/titilliumtext25l001-webfont-woff.woff") format("woff"),
       url("../fonts/titilliumtext25l001-webfont-svg.svg#TitilliumBold") format("svg");
  text-rendering: optimizeLegibility;
}


/** Open Sans */
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style:  normal;
  src: url("../fonts/opensans-bold-webfont-eot.eot");
  src: url("../fonts/opensans-bold-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bold-webfont-ttf.ttf") format("truetype"),
       url("../fonts/opensans-bold-webfont-woff.woff") format("woff"),
       url("../fonts/opensans-bold-webfont-svg.svg#OpenSansBold") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style:  italic;
  src: url("../fonts/opensans-bolditalic-webfont.eot");
  src: url("../fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bolditalic-webfont.ttf") format("truetype"),
       url("../fonts/opensans-bolditalic-webfont.woff") format("woff"),
       url("../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans-italic-webfont-eot.eot");
  src: url("../fonts/opensans-italic-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-italic-webfont-ttf.ttf") format("truetype"),
       url("../fonts/opensans-italic-webfont-woff.woff") format("woff"),
       url("../fonts/opensans-italic-webfont-svg.svg#OpenSansItalic") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensans-light-webfont-eot.eot");
  src: url("../fonts/opensans-light-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-light-webfont-ttf.ttf") format("truetype"),
       url("../fonts/opensans-light-webfont-woff.woff") format("woff"),
       url("../fonts/opensans-light-webfont-svg.svg#OpenSansLight") format("svg");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans-regular-webfont-eot.eot");
  src: url("../fonts/opensans-regular-webfont-eot.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont-ttf.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont-woff.woff") format("woff"),
       url("../fonts/opensans-regular-webfont-svg.svg#OpenSansRegular") format("svg");
  text-rendering: optimizeLegibility;
}





/**
 * Font Icons
 * =============================================================================
 * NB. In the previous iteration of these classes, there were rules that would
 * allow us to use a `data-icon` attribute to set the icon (ex.
 * `<span data-icon="lambda" />`). The below was built assuming that wouldn't be
 * the usual way injecting these icons. Maybe that shouldn't be the case, tho?
 */

/** Docs Icon */
@font-face {
  font-family: "DocsFontIcons";
  font-weight: normal;
  font-style: normal;
  src:url("../fonts/docsfonticons-webfont-eot.eot");
  src:url("../fonts/docsfonticons-webfont-eot.eot?#iefix") format("embedded-opentype"),
      url("../fonts/docsfonticons-webfont-ttf.ttf") format("truetype"),
      url("../fonts/docsfonticons-webfont-woff.woff") format("woff"),
      url("../fonts/docsfonticons-webfont-svg.svg#DocsFontIcons") format("svg");
  text-rendering: optimizeLegibility;
}

.docs-icon {
  font-family: 'DocsFontIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.docs-icon--lambda        { @extend .docs-icon; &:before { content: "\e005"; } }
.docs-icon--lambda-bold   { @extend .docs-icon; &:before { content: "\e00b"; } }
.docs-icon--beaker        { @extend .docs-icon; &:before { content: "\f0c3"; } }
.docs-icon--cog           { @extend .docs-icon; &:before { content: "\f013"; } }
.docs-icon--github-alt    { @extend .docs-icon; &:before { content: "\e004"; } }
.docs-icon--comments      { @extend .docs-icon; &:before { content: "\e000"; } }
.docs-icon--bolt          { @extend .docs-icon; &:before { content: "\f0e7"; } }
.docs-icon--question-sign { @extend .docs-icon; &:before { content: "\f059"; } }
.docs-icon--tools         { @extend .docs-icon; &:before { content: "\e001"; } }
.docs-icon--search        { @extend .docs-icon; &:before { content: "\f002"; } }
.docs-icon--download-alt  { @extend .docs-icon; &:before { content: "\f019"; } }
.docs-icon--github        { @extend .docs-icon; &:before { content: "\e009"; } }
.docs-icon--reorder       { @extend .docs-icon; &:before { content: "\f0c9"; } }
.docs-icon--more          { @extend .docs-icon; &:before { content: "\e002"; } }
.docs-icon--riak          { @extend .docs-icon; &:before { content: "\e003"; } }
.docs-icon--database      { @extend .docs-icon; &:before { content: "\e006"; } }
.docs-icon--install       { @extend .docs-icon; &:before { content: "\e007"; } }
.docs-icon--cloud         { @extend .docs-icon; &:before { content: "\e008"; } }
.docs-icon--configure     { @extend .docs-icon; &:before { content: "\e00a"; } }
.docs-icon--references    { @extend .docs-icon; &:before { content: "\f02d"; } }
.docs-icon--time          { @extend .docs-icon; &:before { content: "\f017"; } }