<header class="masthead">
  <div id="header">
    <!-- Marketing Banner
         ----------------
      Only displayed in full-width and on the 'latest' project version
      TODO(Drew): Should the content be extracted to a config file somewhere?
                    Hint: Yes.
    -->
    {{ if $.Scratch.Get "is_latest" }}
    {{ partial "marketing_banner.html" . }}
    {{ end }}
    <div id="header-inner">
      <div class="icon-reorder" id="nav-toggle"></div>

      <div id="top-nav">
        {{ if $.Scratch.Get "project_path"}}
        <a href="{{$.Scratch.Get "project_path"}}/{{$.Scratch.Get "version"}}/downloads/"><span class="icon-download-alt"></span>Downloads</a>
        {{ end }}
      </div>

      <a class="responsive-toggle"></a>
      {{/*TODO(Drew): Figure out why we have text here that's not ever going
                      to be rendered. */}}
      {{/*TODO(Drew): Find and render a per-project image logo here. */}}
      <a class="logo" href="/index.html"><h1>Riak Docs</h1></a>
      {{/*TODO(Drew): This apparently this was just never rendered? What and
                      why? No really. Why. */}}
      <span class="tagline">Product tutorials, how-tos, and fully-documented APIs.</span>
      <div id="nav-menu">
        <h2>Links</h2>
        <ul>
          <li><a href="http://docs.basho.com/">Docs Home</a></li>
          <li><a href="http://basho.com/">Basho Website</a></li>
        </ul>
        {{/*TODO(Drew): These make the little upward bump arrow thing. That
                        took me half an hour to figure out, so I'd like to
                        rename them. */}}
        <div id="nav-menu-arrow"></div>
        <div id="nav-menu-arrow-back"></div>
      </div>

      <div class="clear"></div>

      <div class="header-rule"></div>
    </div>
  </div>
</header>
