<head class="tutorials">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <meta name="project" content="{{ .Params.project }}">
  <meta name="version" content="{{ .Params.project_version }}">
  <meta name="base-url" content="{{ .URL }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <title>{{ .Title }}</title>

  <link href="/css/all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css">

  <!--
    Iff JavaScript is enabled, we want to hide all pre>code blocks so we can
    avoid the pre-to-post style bounce. We do this by hiding all pre elements
    that follow a .js_enabled class, and apply that class to the HTML element
    with some JavaScript.
    We can't use the Modernizr .js class because we want this hidden before we
    give modernizr a chance to load.
  -->
  <style type="text/css"> .js_enabled pre { visibility : hidden; } </style>
  <script type="text/javascript">
    document.documentElement.className = 'js_enabled';
  </script>
</head>
