<head class="tutorials">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <meta name="project" content="{{ .Params.project }}">
  <meta name="version" content="{{ .Params.project_version }}">
  <meta name="base-url" content="{{ .URL }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <title>{{ .Title }}</title>

  <link href="/css/all.css" media="screen" rel= "stylesheet" type="text/css">
  <link href="/css/print.css" media="print" rel= "stylesheet" type="text/css">
</head>
