{{/*TODO(Drew): Correctly implement the nav sidebar. */}}
<aside id="nav-container" role="complementary">
  <nav class="overview" id="primary-nav" role="nav">
    <div id="primary-nav-content">
      <h2 class="responsive-link"><a class="responsive-toggle"></a></h2>

      {{/* Search bar */}}
      <form action="http://search.basho.com">
        <div class="nav-field-container">
          <div id="icon-container-search">
            <div class="icon-container"><span aria-hidden="true" class="nav-icon-search icon-search"></span></div>
            <span class="separator">&#124;</span>
          </div>
          <input id="main-search" name="q" placeholder="Search" size="5" type="search" />
        </div>
      </form>

      <div class="clear"></div>

      {{/* Vist Basho link, only displayed in reduced-width */}}
      <h3 class="responsive-link visit-basho">
        <a href="http://www.basho.com">
          <div class="icon-container">
            <span aria-hidden="true" class="nav-icon" data-icon="&#xe003;"></span>
          </div>
          <span class="separator">&#124;</span>
          <span class="menu-title">Visit Basho</span>
          <div class="clear"></div>
        </a>
      </h3>

      {{/* All Projects (splash) link, only displayed in reduced-width */}}
      <h3 class="responsive-link">
        <a href="/index.html">
          <div class="icon-container">
            <span aria-hidden="true" class="nav-icon" data-icon="&#xe003;"></span>
          </div>
          <span class="separator">&#124;</span>
          <span class="menu-title">All Riak Projects</span>
          <div class="clear"></div>
        </a>
      </h3>

      {{ $current_node := . }}
      {{ $menu_title := (printf "%s-%s" .Params.project .Params.project_version) }}
      {{ $root_menu := (index .Site.Menus $menu_title) }}
      {{ if $root_menu }} {{ range $root_menu }}
        <h3>
          <div class="icon-container"><span aria-hidden="true" class="nav-icon {{ .Pre }}"></span>&nbsp;</div>
          <span class="separator">&#124;</span>
          <span class="menu-title"><a href="{{.URL}}">{{ if $current_node.IsMenuCurrent $menu_title . }}** {{ end }}{{ .Name }}</a></span>
          <div class="clear"></div>
        </h3>
        {{/*TODO(Drew): The below structure + CSS (and maybe JS?) are absolute trash. I completely
                        disagree with the existence of the menu-toggle element being predicated on
                        the h4 element. This all just makes me so sad. */}}
        {{ if .HasChildren }}
          {{ partial "navigation_sidebar_submenu.html" (dict "current_menu" . "current_node" $current_node "menu_title" $menu_title "menu_depth" 1) }}
        {{ end }}
      {{ end }} {{ end }}
      <ul></ul> {{/* This empty <ul> marks the end of the generated nav list */}}
    </div>
  </nav>
  <ul id="fixed-nav">
    <li>
      <a href="https://github.com/basho/basho_docs" target="_blank">
        <div class="icon-container">
          <span aria-hidden="true" class="nav-icon" data-icon="&#xe004;"></span>
        </div>
        <span class="separator">&#124;</span>Available on GitHub
      </a>
    </li>
    <li>
      <a href="/riak/latest/community/">
        <div class="icon-container">
          <span aria-hidden="true" class="nav-icon" data-icon="&#xf059;"></span>
        </div>
        <span class="separator">&#124;</span>Get Help
      </a>
    </li>
  </ul>
</aside>
