<!DOCTYPE html>

<!-- Index Splash Page
     =================
  This template follows the style of the _default/single.html layout, though
  contains none of the dynamic elements found on the Primary Content pages.

  Please see layouts/_default/single.html for a discussion on HTML style,
  format, and page layout.
-->

<html class="no-js" lang="en">



<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <title>Basho Documentation</title>

  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css">

</head>



<body class="index">


  <!-- NOTE: We're going to leave this commented out until we're ready to deploy
       to the production S3 server. -->
  {{/* partial "google_tag_manager.html" . */}}



  {{ partial "banner.html" . }}


  <div class="welcome-content">

    <div class="welcome   [bs] jumbotron jumbotron-fluid">

      <h1><strong>Welcome to the Basho Docs</strong></h1>
      Please choose a product below

    </div>

  </div>



  <div class="product-content">

    <div class="product-picker   [bs] container container-fluid">
    <div class="[bs] row">

       <div class="product__wrapper   [bs] col-md-6 col-lg-4">
          <a class="block   product__card" href="/riak/kv/latest/">
            <span class="inline-block   product__title"><!--
           --><img class="product__logo" src="/images/index/riak-logo.png"><!--
           -->Riak<span class="product__title-highlight">KV</span>
            </span>
            <div class="product__description">Highly available, operationally simple, distributed database</div>
          </a>
       </div>


       <div class="product__wrapper   [bs] col-md-6 col-lg-4">
          <a class="block   product__card" href="/riak/ts/latest/">
            <span class="inline-block   product__title"><!--
           --><img class="product__logo" src="/images/index/riak-logo.png"><!--
           -->Riak<span class="product__title-highlight">TS</span>
            </span>
            <div class="product__description">Distributed NoSQL database optimized for IoT/Time Series</div>
          </a>
       </div>


       <div class="product__wrapper   [bs] col-md-6 col-lg-4">
          <a class="block   product__card" href="/riak/cs/latest/">
            <span class="inline-block   product__title"><!--
           --><img class="product__logo" src="/images/index/riak-logo.png"><!--
           -->Riak<span class="product__title-highlight">CS</span>
            </span>
            <div class="product__description">Fault-tolerant, S3-compatible, distributed storage</div>
          </a>
       </div>

    </div>
    </div>

    <div class="community-callout   [bs] container container-fluid">
    <div class="[b] row">

      <div class="community__wrapper">
        <a class="block   community__card" href="/community/">
          <div>Want to get involved and keep up with the latest news?</div>
          <br>
          <div>Check out our Community Pages!</div>
        </a>
      </div>

    </div>
    </div>



  </div>



  {{ partial "footer.html" . }}



  <script src="/js/main.js" type="text/javascript"></script>

</body>
</html>
