<!DOCTYPE html>

<!-- Index Splash Page
     =================
  This template follows the style of the _default/single.html layout, though
  contains none of the dynamic elements found on the Primary Content pages.

  Please see layouts/_default/single.html for a discussion on HTML style,
  format, and page layout.
-->

<html class="no-js" lang="en">



<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/branding/favicon.ico" type="image/x-icon" />

  <title>Basho Documentation</title>

  <link href="{{ .Site.BaseURL }}css/main.css" media="screen" rel="stylesheet" type="text/css">

</head>



<body class="index">


  <!-- NOTE: We're going to leave this commented out until we're ready to deploy
       to the production S3 server. -->
  {{/* partial "google-tag-manager.html" . */}}



  {{ partial "banner.html" . }}


  <div class="welcome-content">

    <div class="welcome   [bs] jumbotron jumbotron-fluid">

      <h1><strong>Welcome to the <br class="hidden-md-up"> Riak Docs</strong></h1>

    </div>

  </div>



  <div class="product-content">


    <p class="product-callout">Please choose a product below</p>


    <!-- NOTE: The CSS defined in _index.scss explicitly sets the height of the
         .product__description text to three lines --- roughly eight words. -->

    <div class="product-picker   [bs] container container-fluid">
    <div class="[bs] row">

       <div class="product__wrapper   [bs] col-lg-4">
          <a class="block   product__card" href="{{ .Site.BaseURL }}riak/kv/latest/">
            <span class="inline-block   product__title"><!--
           --><span class="inline-block   product__logo product__logo--invertible"><!--
             --><img class="logo logo--primary"  src="{{ .Site.BaseURL }}images/branding/riak-logo.png"><!--
             --><img class="logo logo--inverted" src="{{ .Site.BaseURL }}images/branding/riak-logo-inverted.png"><!--
           --></span><!--
           -->Riak<span class="product__title-highlight">KV</span><!--
         --></span>
            <div class="product__description">Highly available, operationally simple, distributed database</div>
          </a>
       </div>


       <div class="product__wrapper   [bs] col-lg-4">
          <a class="block   product__card" href="{{ .Site.BaseURL }}riak/ts/latest/">
            <span class="inline-block   product__title"><!--
           --><span class="inline-block   product__logo product__logo--invertible"><!--
             --><img class="logo logo--primary"  src="{{ .Site.BaseURL }}images/branding/riak-logo.png"><!--
             --><img class="logo logo--inverted" src="{{ .Site.BaseURL }}images/branding/riak-logo-inverted.png"><!--
           --></span><!--
           -->Riak<span class="product__title-highlight">TS</span><!--
         --></span>
            <div class="product__description">Distributed NoSQL database optimized for IoT/Time Series</div>
          </a>
       </div>


       <div class="product__wrapper   [bs] col-lg-4">
          <a class="block   product__card" href="{{ .Site.BaseURL }}riak/cs/latest/">
            <span class="inline-block   product__title"><!--
           --><span class="inline-block   product__logo product__logo--invertible"><!--
             --><img class="logo logo--primary"  src="{{ .Site.BaseURL }}images/branding/riak-logo.png"><!--
             --><img class="logo logo--inverted" src="{{ .Site.BaseURL }}images/branding/riak-logo-inverted.png"><!--
           --></span><!--
           -->Riak<span class="product__title-highlight">CS</span><!--
         --></span>
            <div class="product__description">Fault-tolerant, S3-compatible, distributed storage</div>
          </a>
       </div>

    </div>
    </div>
  </div>



  {{ partial "footer--index.html" . }}



  <script src="{{ .Site.BaseURL }}js/main.js" type="text/javascript"></script>

</body>
</html>
