@import "compass";
$layout-layout:smart;
@import "layout/*.png";
@include all-layout-sprites;

@import "settings";

/* =============================================================================
   Version Bar
   ========================================================================== */


.green-link {
  display         : block;
  color           : darken(saturate($fadedGreen, 25%), 18%);
  padding         : 2px 0 0 0;
  text-decoration : none;
  text-align      : center;
  //width           : 4.2em;
}

.versions {
   position    : fixed;
   top         : 118px;
   margin-left : -72px;
   width       : 50px;
   height      : 100%;
}

#version-ddown {
  position      : relative;
  //display       : none;
  padding       : 3px 0;
  margin-bottom : 14px;
  background    : $subtleBlueGreen;
  text-align    : center;
  cursor        : pointer;
  color         : $darkBlueGreen;
  font-size     : 0.75rem;
  font-family   : 'OpenSansBold', verdana, sans-serif;
  border        : 1px solid $lightBlueGreen;
  @include allCorners();
  @include transitionAll(all 0.5s ease);

  &.selected {
    background : $darkBlueGreen;
    border     : 1px solid $darkBlueGreen;
    color      : #fff;
  }

  #version-ddown-arrow {
    position : absolute;
    left     : 18px;
    bottom   : -10px;
    @include arrowVertical(top, bottom, 6px, $orange);
  }
}

ol#version-list,
ol#versions-list li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ol#version-list {
  display     : none;
  //margin: 0;
  //padding: 0;
  
  > li {
    &:first-child {
      @include corner(left, top);
      @include corner(right, top);
    }
    
    &:last-child {
      @include corner(left, bottom);
      @include corner(right, bottom);
    }
  }

  li {
    @include bgPattern('light-green-bg.jpg');
    border          : 1px solid $darkGreen;
    //border-bottom : 0;
    display         : block;
    font-size       : 0.75rem;
    //margin-right  : 1px;
    margin-bottom   : 1px;
    text-align      : center;
    
    ol {
      display:none;
      margin:0;
      margin-left:-1px;
      margin-top : -18px;
      padding:2px 0;
      position: absolute;
      right : -48px;
      max-width:5em !important;
      li {
        z-index:500;
      }
    }

    &:hover {
      background    : $orange;
      border        : 1px solid $darkOrange;
      //border-bottom : 0;

      & > ol { 
        display:block;
      }
    }
    
    &.inactive {
      background    : #DDD;
      border        : 1px solid #BBB;
      //border-bottom : 0;
      &:hover {
        background    : #DDD;
        border        : 1px solid #BBB;
        //border-bottom : 0;
      }
      a {
        cursor : default;
        color : $inactiveText;
        &:hover {
          color : $inactiveText;
        }
      }
    }

    &.current {
      background    : $orange;
      border        : 1px solid $darkOrange;
      //font-weight   : bold;
      font-family   : 'OpenSansBold', verdana, sans-serif;
      //border-bottom : 0;
      
      > a {
        color : #fff;
        
        &:hover {
          color : #fff;
        }
      }
    }
    
    a {
      @extend .green-link;
      
      &:hover {
        color : #fff;
      }
    }
  }

  li.first, li.first:hover {
    border-bottom:2px solid #bbbbbb;
  }
}

@media screen and (max-width: 700px) {
  ol.versions { 
    display:none;
  }
}
