/**
 * Banner
 * PRESENTATION ONLY -- See _wireframe.scss for position and size.
 */
.banner {
  padding : 0 1rem 0 1.25rem;

  background : $white;
  box-shadow : 0  0  4rem -1rem $shadow-color;

  @include wide-from(md) {
    padding : 0  0  0  ($content-nav-padding-left + 0.5rem);
  }
}



/**
 * Basho Docs Logo
 * Assumed to wrap a <img src="/images/layout/basho_docs_logo.png"> element.
 * 1. The native size of this image is 312px x 69px. Scale it to ~48% for the
 *    sm-down layouts, and ~55% for the md-up.
 * 2. For sm-down layouts, center this element in the banner.
 * 3. For md-up leave it lower than center to better match the baseline of the
 *    Intra-Site navigation elements.
 */
.banner__docs-logo {
  position  : relative;           /* 2 */
  top       : 50%;                /* 2 */
  transform : translateY(-50%);   /* 2 */

  .docs-logo__image {
    width  : p2r(150px);          /* 1 */
    height : p2r(33px);           /* 1 */
  }

  @include wide-from('md') {
    transform: translateY(-32%);  /* 3 */

    .docs-logo__image {
      width  : p2r(172px);        /* 1 */
      height : p2r(38px);         /* 1 */
    }
  }
}



/**
 * Menu Bars
 * Assumed to wrap the triple-horizontal-bar, .js_toggle-content-nav element.
 * See _menu-bars.scss for styling and content-nav.coffee for interaction.
 * 1. Center this element in the middle of the banner, matching the logo above.
 */
.banner__menu-bars {
  height   : 100%;

  .menu-bars {
    font-size : 2.5rem;

    position  : relative;         /* 1 */
    top       : 50%;              /* 1 */
    transform : translateY(-50%); /* 1 */
  }
}



/**
 * Navigation Pane
 * 1. Clear default link styles, include the external-link icons.
 * 2. Allow children of this element to set the color of anchors based on their
 *    own color. (on-event highlights will have to be set per-class.)
 */
.banner__navigation-pane {
  @extend %sans;
  height : 100%;

  a {
    color : inherit;         /* 1, 2 */
    text-decoration : none;  /* 1 */

    @include on-event {
      text-decoration : underline;
    }

    &[href^="http://"],
    &[href^="https://"],
    &[href$=".pdf"],
    &[href$=".PDF"] {
      &::after {
        content    : none;   /* 1 */
        background : none;   /* 1 */
      }
    }
  }
}



/**
 * Intra-Brand Navigation Elements
 * 1. The __width-wrapper must be set to 100% of the __navigation-pane's width
 *    to match the __intra-site element, ensuring neither are ever side-by-side.
 *    NB. The __navigation-pane is assumed to be an overflow element, causing it
 *        to take up all of the banner not consumed by float'd siblings.
 * 2. We need to define a hight so the __cap can guarantee it takes up the
 *    correct amount of space. Current height is perfect for a 1rem font-size.
 * 3. This margin-bottom could just as easily be a padding-top on the
 *    __intra-site element; it's just giving some whitespace in between the
 *    __intra-brand and __intra-site links.
 * 4. This whole elements creates a triangle of the non-transparent border color
 *    that's been set.
 *    It's pretty weird how it works. Weirder still that it works.
 *    Trust the weird CSS.
 * 5. The border-bottom-width needs to be the same as the parent's height (but
 *    we can't use `%`s). If the __width-wrapper height ever changes, so too
 *    must the __cap's border-bottom-width.
 * 6. Add padding to the spans to provide some breathing room. The first is also
 *    given a padding-left to push out the __cap. The last is assumed to be the
 *    "Contact Basho" entry, and so is further offset from the rest, and given
 *    extra space away from the right side of the window.
 */
.banner__intra-brand__width-wrapper {
  width  : 100%;            /* 1 */
  height : 2.0rem;          /* 2 */
  margin-bottom : 0.25rem;  /* 3 */
}
.banner__intra-brand__cap {        /* 4 */
  border-style        : solid;
  border-color        : transparent $gray-38 transparent transparent;
  border-top-width    : 0px;
  border-right-width  : 1.5rem;
  border-bottom-width : 2.0rem;    /* 5 */
  border-left-width   : 0px;
}
.banner__intra-brand {
  background : $gray-38;
  color      : $gray-90;

  height : 2.0rem;
  padding-top : 0.25rem;

  span {                     /* 6 */
    padding-right : 1.5rem;
  }
  span:first-of-type {       /* 6 */
    padding-left  : 1.5rem;
  }
  span:last-of-type {        /* 6 */
    padding-left  : 1rem;
    padding-right : 3rem;
  }

  a {
    @include on-event {
      color : $cyan-light;
    }
  }
}



/**
 * Intra-Site navigation elements.
 * 1. This element must be set to 100% of the __navigation-pane's width to match
 *    the __intra-brand__width-wrapper, ensuring neither are ever side-by-side.
 *    NB. The __navigation-pane is assumed to be an overflow element, causing it
 *        to take up all of the banner not consumed by float'd siblings.
 * 2. Give the icon some space or whatever.
 *    FIXME: These values are hard-coded to push the "Riak KV" entry s.t. it
 *           matches the content well. If we want this, come up with a better
 *           way of getting the __intra-site there. If not, get rid of this.
 * 3. Add padding to the spans to provide some breathing room. The last is
 *    assumed to be the "Community" entry, so give it a padding-left to push it
 *    farther away from the other entries. It doesn't need a padding-right
 *    either, so scrap that.
 */
.banner__intra-site {
  width : 100%;            /* 1 */

  font-size : 110%;
  letter-spacing : 1px;
  color : $gray-60;

                             padding-left : 5.75rem;    /* 2 */
  @include wide-from('lg') { padding-left : 6.75rem; }  /* 2 */

  span {                   /* 3 */
    padding-right : 1.25rem;
  }
  span:last-of-type {      /* 3 */
    padding-left  : 1rem;
    padding-right : 0;
  }

  a {
    @include on-event {
      color : $gray-30;
    }
  }
}
