/**
 * Content Info Footer
 * PRESENTATION ONLY -- See _wireframe.scss for position and size.
 */
.footer {
  padding    : 1rem .25rem 0rem .25rem;
  margin-top : 2rem;

  font-size   : 80%;
  line-height : 1.2;
  text-align  : center;
  color       : $lighter-font;

  border-top : 1px solid $gray-85;


  @include wide-from('md') {
    padding    : 2rem 1rem 1rem 1rem;
    margin-top : 0;
  }

  a {
    color : $lighter-font;
    @include on-event {
      color : $cyan;
    }
  }


  @include when-inside('.index') {
    position : relative;
    padding-top : 2rem;
    margin-top  : 0;

    @include wide-from('lg') {
      text-align : center;
    }
  }
}

.footer__attributions {
  @include wide-from(md) {
    text-align : center;
  }
}

.footer__social {
  margin : 0  0.5rem 1.5rem 0.5rem;

  @include wide-from('md') {
    margin-bottom : 0;
  }

  @include wide-from('lg') {
    position : absolute;
    right    : 0;
    top      : 0;
    margin-top   : 2.2rem;
    margin-right : 2.0rem;
  }
}
