---
title: Riak
project: riak
version: 0.10.0+
document: tutorial
toc: false
index: true
audience: beginner
keywords: []
---

h3 Welcome to Riak docs
h4 Pick a project

ul
  - current_projects.each do |project, version|
    li=="<a href=\"#{version[:deployment] ? "/#{project}/#{version[:deployment]}/" : "/#{project}/1.2.0/index.html"}\">#{project}</a>"
